body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #333;
	background-color: #F6F6F6;
	
}


header {
  background-color: #3B82F6;
  color: white;
  padding: 30px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h2{
	
	margin-top:75px;
	margin-bottom:50px;
	text-align:center;
	font-size:30px;
}



 /* Styles for the form */
 
 form {
  max-width: 600px;
  margin: 75px auto; /* Center the form horizontally */
  border-collapse: collapse;
  border: 1px solid #ccc;
  padding: 20px; /* Add some padding inside the form */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
.installment-select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.save-changes {
  background-color: grey;
  border: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 10px;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
