@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

/* Header Styles */
header {
  background-color: #3B82F6;
  color: white;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}
body {
  font-family: Arial, sans-serif;
  background-color: #E6F1F8;
  color: #333;
}

/* Header Styles */


nav {
  background-color: #1E40AF;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 150px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav li {
  margin: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav a:hover {
  background-color: #2563EB;
  color: white;
}

h2 {
  margin-top: 75px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-group select {
  cursor: pointer;
}

.form-group button {
  background-color: #2563EB;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 16px;
}

.add-product {
  background-color: #2563EB;
  border: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-right: 10px;
  font-size: 17px;
}


