<!DOCTYPE html>
<html>
<head>
	<title>Admin Login</title>
	<link rel="stylesheet" type="text/css" >
</head>


<body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        
         <form [formGroup]="loginForm">
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" name="username" placeholder="Enter Username" formControlName="email" required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Enter Password" formControlName="password" required>
          </div>
          <div class="row button">
            <input type="submit" value="Login"(click)="login()">
          </div>
          <div class="signup-link">Not a member? <a href="Customer-Reg.html">Signup now</a></div>
        </form>
      </div>
    </div>

  </body>
