<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" >
  </head>
  <body>

   <header>
      <h1>Bumble bee: Buy first and pay later</h1>
    </header>
    <nav>
      <ul>
        <li><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a></li>
        <li><a routerLink="/customers">Customers</a></li>
        <li><a routerLink="/product">Products</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>

  <main>
      <h2>Dashboard Overview</h2>
      <p>Here you can see an overview of the key metrics for your business.</p>

     <div class="cards">
        <div class="card">
          <h3>Customers</h3>
          <p>{{totalCustomers}}</p>
        </div>
        <div class="card">
          <h3>Products</h3>
          <p>{{totalProducts}}</p>
        </div>

        </div>

        <div class="clear-fix"> </div>

    </main>
    <footer>
      <p>&copy; 2023 Admin Dashboard</p>
    </footer>
  </body>
</html>

